<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CSCI 6612 NLP Visualization</title>
    <!-- bootstrap core css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <!-- fonts awesome style -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div class="hero_area">
      <!-- header section starts -->
      <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
              <span class="s-4"> </span>
            </button>
          </div>
          <div id="myNav" class="overlay">
            <div class="menu_btn-style">
              <button onclick="closeNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
                <span class="s-4"> </span>
              </button>
            </div>
            <div class="overlay-content">
              <a class="active" href="/">Home</a>
              <a href="/explor">Exploratory Analytics</a>
              <a href="/visual">Visual Analytics</a>
              <a href="/conch">Conclusion</a>
              <a href="/submit">GNN+LLM Query</a>
            </div>
          </div>
          <a class="navbar-brand" href="/">
            <span>NLP Visualization</span>
          </a>
        </nav>
      </header>
    </div>

    <div class="container">
      <div class="heading_container heading_center">
        <h2>Welcome</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <!-- <h2>Welcome to the NLP Visualization Demo</h2> -->
          <p>
            This project centers around the integration of machine learning and
            visual analytics to explore the emotional connection between New
            York Times articles and their corresponding reader comments.
          </p>
          <p>
            This project aims to analyze and visualize the emotional aspects of
            comments, providing valuable insights to media outlets, enabling
            them to better understand reader preferences and improve content
            quality and business value.
          </p>
          <p>
            By analyzing comment sentiment, outlets can better understand reader
            preferences for different themes and styles of content, allowing for
            more informed decision-making in editorial planning and content
            strategy.
          </p>

          <p>Author: Zhengping Hu B00838149 | Ye Wang B00972707</p>
          <p>Please use the following  <a href="https://github.com/ZhengpingHu/NLP_Visualization" target="_blank">link</a> to read more detail about the project.</p>
        </div>
      </div>
    </div>
    <!-- </section> -->
    <!-- </body> -->

    <!-- footer section -->
    <footer class="footer_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6">
            <p>
              &copy; <span id="displayYear"></span> All Rights Reserved. Design
              by <a href="https://html.design/">Free Html Templates</a>
            </p>
          </div>
          <div class="col-xl-6">
            <div class="link_box">
              <a href="/">Home</a>
              <a href="/explor">Exploratory Analytics</a>
              <a href="/visual">Visual Analytics</a>
              <a href="/conc">Conclusion</a>
              <a href="/submit">GNN+LLM Query</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer section -->

    <script src="../static/css/jquery-3.4.1.min.js"></script>
    <script src="../static/css/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="../static/css/custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  </body>
</html>
