<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CSCI 6612 NLP Visualization</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <!-- fonts awesome style -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../static/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section starts -->
        <header class="header_section">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <div class="custom_menu-btn">
                    <button onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                        <span class="s-4"> </span>
                    </button>
                </div>
                <div id="myNav" class="overlay">
                    <div class="menu_btn-style">
                        <button onclick="closeNav()">
                            <span class="s-1"> </span>
                            <span class="s-2"> </span>
                            <span class="s-3"> </span>
                            <span class="s-4"> </span>
                        </button>
                    </div>
                    <div class="overlay-content">
                        <a class="active" href="/">Home</a>
                        <a href="/">Overall Analysis</a>
                        <a href="/specific">Specific Analysis</a>
                        <a href="/wordcloud">WordCloud</a>
                        <a href="/submit">Query</a>
                    </div>
                </div>
                <a class="navbar-brand" href="/">
                    <span>Demo</span>
                </a>
            </nav>
        </header>
        
    </div>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <br>
                <br>
                <br>
                <br>
                <h2>Welcome to the NLP Visualization Demo</h2>
                <p>
                    This demo is created to show the NLP visualization results of the database. Some functions are not completed. Clicking them will return to the homepage.
                </p>
                <p>
                    The demo will mainly include four parts: overall visualization of the selectable range, interactive visualization focusing on a certain article, word cloud, and AI part. 
                </p>
                <p>    
                    The AI ​​part will include two important contents: using the new data added in the previous data cleaning phase to complete the training of the Naive Bayes model, and input keywords into the Naive Bayes model. The Naive Bayes model will give the phrases with the highest relevance according to the user's selection. LLM will receive these phrases and finally give a writing outline with guidance (this part is not completed, but it is already possible to communicate with LLM through HTML).
                </p>
            </div>
        </div>
    </div>
</body>


    <!-- footer section -->
    <footer class="footer_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <p>&copy; <span id="displayYear"></span> All Rights Reserved. Design by <a href="https://html.design/">Free Html Templates</a></p>
                </div>
                <div class="col-xl-6">
                    <div class="link_box">
                        <a href="/">Home</a>
                        <a href="/specific">Specific Result</a>
                        <a href="/">Overall Result</a>
                        <a href="/wordcloud">Word Cloud</a>
                        <a href="/submit">Query By LLM</a> 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section -->

    <script src="../static/css/jquery-3.4.1.min.js"></script>
    <script src="../static/css/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="../static/css/custom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
</body>

</html>
